body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f0f0f0;
  display: flex;
}

.left {
  width: 30%;
  padding-right: 20px;
}

.right {
  flex-grow: 1;
}

h1 {
  text-align: center;
  color: #333;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

form div {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

input[type="text"],
input[type="number"] {
  width: calc(100% - 16px); /* Adjust for padding */
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="checkbox"] {
  display: inline;
}

form div label[for="read"] {
  display: inline;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.clear-storage-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.clear-storage-button:hover {
  background-color: #d32f2f;
}

h2 {
  color: #333;
}

#unreadBooks,
#readBooks {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#unreadBooks div,
#readBooks div {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.book-actions button {
  margin-right: 5px;
}

.search-container {
  margin-bottom: 20px;
}

/* Kustom Alert CSS */
.custom-alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  display: none;
}

.custom-alert.show {
  display: block;
}

.custom-alert h3 {
  margin-top: 0;
}

.custom-alert p {
  margin-bottom: 0;
}

.custom-alert button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.custom-alert button:hover {
  background-color: #45a049;
}

#accept-button {
  background-color: #f44336;
}

#accept-button:hover {
  background-color: #d32f2f;
}

#move-to-read:hover {
  background: url(icons/check-circle.svg);
}

#move-to-unread:hover {
  background: url(icons/circle.svg);
}

.booksList {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
